.mesa{
    position: fixed;
    width:900px;
    height:600px;
    background-color: green;
      }
.carta {
    height:150px;
}
.robot{
   position: relative;
   top:5px;
   left:15px;
   width:400px;
   height:80px;
   background-color: black;  }      
.jogador{
    position: relative;
    top:265px;
    left:15px;
    width:400px;
    height:80px;
    background-color: black; }   
.baralho{
    position: relative;
    top:200px;
    left:315px;
    width:60px;
    height:80px;
    background-color:yellow;}   